mixin header (items)
    nav(class="navigation-bar")
        button(class=`navigation-bar--menu-btn`)
            figure(id=`${button.id}` section=`${button.selected}` value=`${button.depth}`)
                    img
        div(class="navigation-bar--blocked")
        ul(class="navigation-bar--list")
            each val in items
                li(class="navigation-bar--list-item")=val.item

mixin slider(slider)
    div(class="slider-content")
        each obj,index in slider
            figure(class=`slider-content--img` id=`${obj.id}` section=`${obj.selected}` value=`${obj.depth}`)
                img
                figcaption(class='slider-content--phrase')
                    div
                        each phrase in obj.phrases
                            h1=phrase
    div(class="slider-content--overlay")
    ul(class="slider-content-controls")
            -let cnt = slider.length;
            -let idx = 0;
            while idx < cnt 
                li(class="slider-content-controls--list" idx=idx++)

mixin card(servicios)
    each obj, idx in servicios
        div(class="card" id=`${obj.class}` pointer=`${obj.pointer}` location=`${obj.location}`)
            div(class="card-article")
                h3=obj.title
                //- article=obj.text.one
            figure(class="card-img" id=`${obj.id}` section=`${obj.selected}` value=`${obj.depth}`)
                img
            div(class="card--overlay")

mixin cardWithImage(representadas)
        each obj, idx in representadas
            div(id=`${obj.class}` class="cardWithImage-card" pointer=`${obj.pointer}` location=`${obj.location}`)
                figure(class="cardWithImage-card--image" id=`${obj.id}` section=`${obj.selected}` value=`${obj.depth}`)
                    img
                div(class="cardWithImage-card--text")
                    h2=obj.title

mixin sliderVariousImage(clientes)
    div( class="sliderVariousImage-overflow" )
        ul(class="sliderVariousImage-content")
                each obj,index in clientes
                    li(class="sliderVariousImage-item" idx=`${index}`)
                        figure(id=`${obj.id}` section=`${obj.selected}` value=`${obj.depth}`)
                            img

mixin textAndImage( items )
    div(class="textAndImage-wrapper")
        each obj, idx in items
            - let condition = idx % 2 === 0; 
            if condition
                div(class="textAndImage-wrapper--content--left" id=`${obj.location}`)
                    figure(class="textAndImage-wrapper--image" id=`${obj.id}` section=`${obj.selected}` value=`${obj.depth}`)
                        img
                    div(class="textAndImage-wrapper--article")
                        h2=obj.title
                        article
                            p=obj.text.one
                            p=obj.text.two
            else
                div(class="textAndImage-wrapper--content--right" id=`${obj.location}`)
                    figure(class="textAndImage-wrapper--image" id=`${obj.id}` section=`${obj.selected}` value=`${obj.depth}`)
                        img
                    div(class="textAndImage-wrapper--article")
                        h2=obj.title
                        article
                            p=obj.text.one
                            p=obj.text.two
                            if obj.title == "Política de gestión integral"
                                div(class="see-more")
                                    a(href="#" target="_blank")=obj.link

mixin hexagonCard ( hexagon )
    div(class="hexagon-wrapper")
        each obj, idx in hexagon
            div(class="hexagon-wrapper--line" id=`${obj.location}`)
                h2(class="hexagon-wrapper--line-title")=obj.title
                div(class="hexagon-wrapper--line-cards")
                    each item, index in obj.aliados
                        div(class="hexagon-card")
                            a(href="http://" section=`${obj.selected}` target="_blank" class="hexagon-card-display")
                                div(class="hexagon-card-img")
                                    +hexagon(item, 'representadas')
                                article(class="text-card")
                                    p=item.text

mixin hexagonClient ( hexagon )
    div(class="client-wrapper")
            each obj, idx in hexagon
                h2(class="client-wrapper--title")=obj.title
                div(class="client-line")
                    each items, index  in obj.clients
                        div(class="client-line-hexagon")
                            +hexagon(items, 'clientes')

mixin hexagon ( obj, section )
    if (section == 'representadas')
        div(class="hexagon--form")
            figure(class="hexagon--image" id=`${obj.id}` section=`${obj.selected}` value=`${obj.depth}`)
                img(class="representadas-img")
            //- svg
            //-     clipPath(id="hexagon-element" stroke="black" stroke-width="3px")
            //-         <path d="M 217.0742645263672 250.5435638427734 L 72.74303436279297 250.5435638427734 L 0.5773241519927979 125.5217819213867 L 72.74303436279297 0.4999962151050568 L 217.0742645263672 0.4999962151050568 L 289.2399597167969 125.5217819213867 L 217.0742645263672 250.5435638427734 Z" stroke="none"/>
    else
        div(class="hexagon--form")
            figure(class="hexagon--image" id=`${obj.id}` section=`${obj.selected}` value=`${obj.depth}`)
                img(class="clientes-img")
            svg
                clipPath(id="client-element" stroke="black" stroke-width="3px")
                    <path d="M 217.0742645263672 250.5435638427734 L 72.74303436279297 250.5435638427734 L 0.5773241519927979 125.5217819213867 L 72.74303436279297 0.4999962151050568 L 217.0742645263672 0.4999962151050568 L 289.2399597167969 125.5217819213867 L 217.0742645263672 250.5435638427734 Z" stroke="none"/>

mixin viewProjects ( params )
    each obj, idx in params
        div(class="project")
            figure(class="project--image" id=`${obj.id}` section=`${obj.selected}` value=`${obj.depth}`)
                img
            section(class="project--section")
                h2 Proyecto: #{obj.name}
                h4 Cliente: #{obj.cliente}
                h5 Ubicación #{obj.ubicacion}

                article(class="project--section-article")
                    p=obj.texto
                    div(class="project--section-article--colaborator")
                        each item, idx in obj.images
                            figure(class="project--image" id=`${item.id}` section=`${item.selected}` value=`${item.depth}`)
                                img

mixin modals ( modals )
    each obj, idx in modals
        div(class="modal-container" id=`${ obj.case }`)
            div(class="modal-container-data-modal")
                p=obj.message
                div(class="modal-container-btn")
                    button(class="button" id="btn-modal")=obj.button
